<script style="text/javascript" src="javascripts/videocall.js"></script>
<script style="text/javascript" src="javascripts/fixer.js"></script>

		<div class="container">
			<div class="row" style="margin-top: 25px;">
				<div class="col-md-12" style="text-align: center;">
          <img src="img/logo.png" style="/* background-color: #FFF; */ /* border: 1px solid #DDD; */ /* border-radius: 4px; */ width: 300px;">
          <h1 style="font-family: 'Homemade Apple', cursive;">Internet of broken things</h1>
				</div>
			</div>
			<div id="action-buttons" class="row" style="
														margin-top: 150px;
														">
				<div class="col-md-offset-1 col-md-3">
					<button type="button" class="btn btn-default" style="
																										   width: 100%;
																										   font-size: 26px;
																										   ">Learn</button>
				</div>
				<div id="fix-button" class="col-md-3">
					<button type="button" class="btn btn-default" style="
																		 width: 100%;
																		 font-size: 26px;
																		 ">Fix</button>
				</div>
				<div class="col-md-3">
					<button type="button" class="btn btn-default" style="
																		 width: 100%;
																		 font-size: 26px;
																		 ">Give away</button>
				</div>
			</div>

			<div id="progress-bar" class="row" style="margin-top: 150px; display: none;">
				<div class="col-md-offset-12" style="text-align: center">
					<h2>Waiting for requests...</h2>
				</div>
			</div>

			<div id="helpseekers-list" class="row" style="margin-top: 150px;">

				<div class="col-md-12" style="
											  /* margin-top: 50px; */
											  ">
					<!-- <h2 style=" -->
					<!-- 		   margin-bottom: 30px; -->
					<!-- 		   ">People in need of repair help in your neighborhood</h2> -->
					<ul class="list-group">
					</ul>
				</div>
			</div>

		</div>

		<script src="js/fixers.js"></script>
