<html>
  <head>
    <title></title>
    <script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
    <script style="text/javascript" src="javascripts/zepto.js"></script>
    <script style="text/javascript" src="javascripts/application.js"></script>
    <link rel="stylesheet" href="css/reset.css" />
  </head>
  <body>
    <%=yield%>
  </body>
</html>